body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
.pics{
    height: auto;
    width: 310px;
}
.steps-heading{
    color: green;

}
.ingredients{
    color: red;
}

.ingredient-lists li::marker {
    color: red;
     

}
.recipe-description{
    color: blue;
}